p{
    text-align: center;
}
h1{
    text-align: center;
}
.selection-content{
    display: flex;
    flex-direction: column;
}
.selection-btn{
    height: 38px;
    background-color: orange;
    border: 0;
    border-radius: 8px;
    color: white;
    text-align: center;
}
.selection-btn_1{
    border: 0;
    background-color: white;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 12px;
    color: rgb(42, 42, 68);
    text-align: center;
}
.luas-segitiga-header{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    background-color: orange;
    text-align: center;
    color: white;
    border-radius: 8px;
}
img{
    height: 250px;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rumus_luas_segitiga{
text-align: left;
margin-bottom: 0;
}
.rumus_luas{
    font-weight: bold;
    margin-top: 5px;
}
input{
    width:auto ;
    height: 22px;
    display: flex;
}